h1 {
  text-align: left;
  background-color: Purple;
  color: white;
}

h2 {
  color: purple;
}

h3 {
  background-color: ;
  color: purple;
}

img {
  box-shadow: 2px 2px 2px 2px purple;
}

section {
  background-color: ;
}

p {
  font-size: 12px;
  font-type: "Abadi"
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightpurple;
  	
}

li {
  float: right;

}

li a {
  display: block;
  padding: 15px;
  background-color: lightpurple;
  
  
}


}

.navbar {
  overflow: hidden;
  background-color: Purple; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: purple;
  text-align: center;
  padding: 14px 16px;
  text-decoration: bold;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: ;
  color: purple;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: teal;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: purple;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}