h1 {
  text-align: left;
  background-color: Purple;
  color: white;
}

h2 {
  color: purple;
  padding-left: 12px
}

h3 {
  background-color: ;
  color: purple;
}

img {
  
  background-color: lightpurple;
  box-shadow: ;
}

section {
  background-color: ;
}

.section{
    width:100%;
    margin:0;
    padding:0;
    display:inline-block;
    margin-bottom:30px;
}
.righttext{
    padding:0 15px;
    float:right;
    text-align:left;
    width:70%;
}
.rightimage{
    float:right;
    width:30%;
}
.leftimage{
    float:left;
    width:30%;
}
.lefttext{
    padding:0 15px;
    float:left;
    text-align:right;
    width:70%;
}

