h1 {
  text-align: left;
  background-color: Purple;
  color: white;
}

h2 {
  color: purple;
}

h3 {
  background-color: ;
  color: purple;
}

img {
  
  background-color: lightpurple;
  box-shadow: ;
}

section {
  background-color: ;
}

